<footer class="footer">
    <div class="container-fluid">
        <center><p class="copyright">
            &copy; 2016 <a href="http://www.mobiledevsberkeley.org/">Mobile Developers of Berkeley</a>: dream, design develop
        </p></center>
    </div>
</footer>
