<head>
    <!-- META Info -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- TITLE & FAVICON -->
    <title>MDB Central</title>
    <link rel="icon" type="image/png" href="/img/favicon.jpg">
    <% include ./css %>
</head>
