<li><a target="_blank" href="http://www.mobiledevsberkeley.org/"><img class="helpful-link" src="/img/favicon.jpg">Club Site</a></li>
<li><a target="_blank" href="http://mdbhq.slack.com"><img class="helpful-link" src="/img/slack.png">Slack</a></li>
<li><a target="_blank" href="http://github.com/MobileDevelopersOfBerkeley"><img class="helpful-link" src="/img/github.png">GitHub</a></li>
<li><a target="_blank" href="https://www.youtube.com/channel/UCSKN7vmagX2g7E693LI0B9g"><img class="helpful-link" src="/img/youtube.png">Youtube</a></li>
