<div class="content page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">MDB Handbook</h4>
                        <p class="category">PDF views of the MDB Handbook documents</p>
                    </div>
                    <div class="content">
                        <a class="tab_button btn btn-info btn-fill" href="/policies/1">Attendance Policy</a>
                        <a class="tab_button btn btn-warning btn-fill" href="/policies/2">Membership Expectations</a>
                        <a class="tab_button btn btn-danger btn-fill" href="/policies/3">Role Responsibilities</a>
                        <a class="tab_button btn btn-info btn-fill" href="/policies/4">Membership Program Overview</a>
                        <a class="tab_button btn btn-warning btn-fill" href="/policies/5">Dev Cycle Information</a>
                        <a class="tab_button btn btn-danger btn-fill" href="/policies/6">GitHub Workflow</a>
                        <a class="tab_button btn btn-info btn-fill" href="/policies/7">Android Handbook</a>
                        <a class="tab_button btn btn-warning btn-fill" href="/policies/8">iOS Handbook</a>
                        <a class="tab_button btn btn-danger btn-fill" href="/policies/9">Reimbursement Policy</a>
                        <a class="tab_button btn btn-info btn-fill" href="/policies/10">Big Little Program</a>
                        <a class="tab_button btn btn-warning btn-fill" href="/policies/11">WTGT</a>
                        <a class="tab_button btn btn-danger btn-fill" href="/policies/12">Inactive Policy</a>
                        <a class="pdf" href="<%- docPath %>"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
